* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.boxContainer {
  display: flex;
  justify-content: center;

  gap: 40px;
  background-color: black;
}

.guessedNumberP {
  width: 100px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  justify-content: center;
  display: flex;
  font-size: 40px;
  color: white;
  margin-left: 45%;
  margin-top: 50px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.boxValue {
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: all 0.3s ease;
}

.box:hover {
  transition: 0.5s;
  opacity: 0.7;
}

#message {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  cursor: pointer;
}

.messageContainer {
  width: 500px;
  height: 200px;
  background-color: greenyellow;
  border-radius: 10px;
  justify-content: center;
  margin-left: 32%;
  color: rgb(0, 0, 0);
  justify-content: center;
  font-size: 70px;
}

p {
}
