* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.boxContainer {
  display: flex;
  justify-content: center;

  gap: 40px;
  background-color: black;
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.boxValue {
  color: white;
  opacity: 0;
  transition: all 4s ease;
}

.box:hover {
  transition: 0.5s;
  opacity: 0.7;
}
